.idea/
*.iml
.settings/
.project
*.komodoproject

/downloads
/src/professional/PropWare
/doxygen

downloads/

# Stuff that is also stored on the website, but not in Git
MathJax/
PropWare-develop.old/
PropWare.old/
PropWare/
PropWareIDE/
