/***********/
/*** All ***/
/***********/
.page {
	width: 1010px;
	margin-left: auto;
	margin-right: auto;
}

img {
	border: 0px;
}

body {
	text-align: center;
	font-family: sans-serif;
}

h1 {
	font-size: 46px;
	color: rgb(0,0, 128);
	font-family: Ariel, sans-serif;
}

h2 {
	color: black;
	font-size: 110%;
	font-weight: bold;
}

h3 {
	font-style: italic;
	text-indent: 0;
	color: black;
	font-size: 100%;
}

h4 {
	test-indent: 0;
	font-weight: normal;
}

p {
	text-align: left;
	font-size: 90%;
}

a:link, a:visited {
	color: #025E91;
}

a:hover, a:active {
	color: #025E91;
	font-style: italic;
}

/******************/
/*** Index Page ***/
/******************/
#page.index {
	padding-left: 60px;
}

.index h2 {
	color: white;
}

.index img {
	cursor: pointer;
}

#indexHeader h1 {
	font-size: 250%;
	font-family: Courier New, Comic Sans MS, Comic Sans, serif;
	color: rgb(0,0, 128);
	margin-right: 120px;
}

#professional {
	float: right;
}

#professional h2 {
	font-family: Arial;
	height: 25px;
}

#personal {
	float: left;
}

#personal h2 {
	font-family: cursive, Times New Roman, serif;
	height: 25px;
}

/**************************/
/*** Professional Pages ***/
/**************************/
.pro-header {
	width: 100%;
	margin-bottom: 20px;
}

#pro-pageContent {
	width: 100%;
}

#pro-pageContent p {
	text-indent: 2em;
}

.pro-header ul {
	margin: 0;
	padding: 0;
}

.pro-header ul li{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
}

.pro-header ul li:first-child {
	border-left: none;
}

.pro-header a:link, .pro-header a:visited {
	color: rgb(0,0, 128);
	text-decoration: none;
}

.pro-header a:hover {
	color: blue;
	font-style: italic;
}

.contact-info {
	width: 155px;
	text-indent: 0;
	margin-left: auto;
	margin-right: auto;
}

/**************/
/*** Resume ***/
/**************/
#resume table {
	width: 100%;
	padding: 20px;
	border-spacing: 0;
	background-image:url(images/Texture0208.jpg)
}

#resume td {
	padding: 5px;
}

tr.resume-header td {
	border-bottom: 5px solid rgb(0,0, 128);
}

td.margin {
	width: 70px;
	border-right: 5px solid rgb(0,0, 128);
}

#contact {
	float: left;
}

#address {
	float: right;
}
#address p {
	text-align: right;
}

#resume h1 {
	font-family: Andalus, Times New Roman, serif;
	color: black;
	background-color: rgba(153, 204, 255, 0.7);
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

#resume h2 {
	color: rgb(0,0, 128);
	font-family: Times New Roman, serif;
	text-align: left;
	background-color: rgba(153, 204, 255, 0.7);
	cursor: pointer;
	margin-bottom: 0;
}

#resume p {
	margin-bottom: 0;
	margin-top: 0;
	float: left;
}
#resume .date {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
	float: right;
}
.main-entry {
	margin-top: 14px;
}
.resume-content {
	display: none;
}

#resume ul {
	text-align: left;
	margin-top: 4px;
	margin-bottom: 0;
}

#resume ul li {
	margin-top: 2px;
	margin-bottom: 2px;
}

#resume dl {
	text-align: left;
	font-size: 90%;
}

#resume dt {
	font-weight: bold;
	margin-top: 16px;
}

#resume dd {
	margin-left: 0;
}
.clear {
	clear: both;
}

/**********************/
/*** Personal Pages ***/
/**********************/
#lists {
	width: 40em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.personal-header {
	height: 200px;
	width: 55em;
	color: rgb(51, 51, 255);
}

.personal-header img {
	float: left;
}

.personal-header a:link, a:visited, a:hover, a:active {
	color: blue;
	font-style: normal;
	text-decoration: none;
}

.personal-footer {
	align: center;
}

.personal-menu {
	float: left;
	font-weight: bold;
	font-size: 26px;
}

.personal-menu a:link, .personal-menu a:visited {
	color: rgb(0,0, 128);
	text-decoration: none;
}

.personal-menu a:hover, .personal-menu a:active {
	color: #0000fa;
	font-style: normal;
	border: 2px solid #0000fa;
}

#pageContent {
	float: right;
	width: 750px;
}

#secondaryNav ul {
	padding: 0;
}

#secondaryNav ul li {
	text-align: center;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
}

#secondaryNav ul li:first-child {
	border-left: none;
}

#secondaryNav a:link, #secondaryNav a:visited {
	color: rgb(0,0, 128);
	text-decoration: none;
}

#secondaryNav a:hover {
	color: blue;
	font-style: italic;
}
